@media (max-width: 425px) {
  .container_principal_header {
    height: 60px;
  }
  
  .logo {
    width: 80px;
  }
  .header_list button p {
    color: black;
    font-size: 12px;
  }
  .numero_contacto {
    font-size: 14px;
  }
}