@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&family=Rubik+Dirt&display=swap');

.banner {
    position: relative;
}

.banner .Fondo{
    width: 100%;
}

.header {
    position: absolute;
    top: 0px;
    width: 100%;
}

.text_banner {
    position: absolute;
    width: 100%;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_banner h1 {
     font-family: "Rubik Dirt", system-ui;
     color: white;
     font-size: 96px;
     text-align: center;
     font-weight: 400;
     width: 1310px;
}