.container_footer {
    margin-top: 130px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px 8px;
    border-top: .4px solid rgba(209, 209, 209, 0.432);
}

@media (max-width: 425px) {
    footer p {
        font-size: 12px;
    }
}