.container_principal_header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.2px solid #D0D0D0;
    height: 143px;
    position: fixed;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent; /* por defecto transparente */
    z-index: 999;
}

.container_principal_header.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.list_header_primero {
    font-size: 18px;
}

.list_header {
    margin-left: 70px;
    font-size: 18px;
}

.header_list button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_list button p {
    color: black;
    font-size: 18px;
}

.numero_contacto {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

